@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 400, 700, 800;
    font-style: normal;
}

@theme{
  --font-sans: "Inter";

  --text-base: 15px;
  --text-big: 39px;


  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  --color-orange: hsl(35, 77%, 62%);
  --color-red: hsl(5, 85%, 63%);

  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue-500: hsl(233, 8%, 79%);
  --color-grayish-blue-800: hsl(236, 13%, 42%);
  --color-grayish-blue-900: hsl(240, 100%, 5%);

}


@layer components {
  button:hover{
    @apply transition-all duration-100 ease-in cursor-pointer;
  }
  h2, h3, h1{
    @apply font-bold;
  }
  aside>section{
    @apply flex flex-col gap-1;
  }
  aside>section>p{
    @apply text-xs text-grayish-blue-500;
  }
  aside>section>h3{
    @apply text-white text-lg;
  }

  header a:hover{
    @apply text-grayish-blue-900 transition-all duration-100 ease-in;
  }

  .topics article{
    @apply flex flex-row gap-4;
  }

  .topics>article>figure{
    @apply w-1/3 h-full;
  }
  .topics>article>section{
    @apply w-2/3 flex flex-col justify-between;
  }
  .topics>article>section>h4{
    @apply text-red font-bold text-2xl;
  }
  .topics>article>section>p{
    @apply text-grayish-blue-800 text-xs;
  }
}

